@model IEnumerable<utip_backend.Models.ProcessModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lei 11.343/06</h1>

@if (User.Identity.IsAuthenticated)
{
<p>
    <a target="_blank" asp-action="Create">Create New</a>
</p>    
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                Número do Processo
            </th>
            <th>
                Dias corridos
            </th>
            <th scope="col">
                Status
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Defendant)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.NaturalidadeReu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiliacaoReu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascReu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneReu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefensoriaPublica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attorney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPenal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroREDS)
            </th>*@
            <th scope="col">
                Data do Crime
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.LocalDoCrime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumInqueritoPolicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdStatus)
            </th>*@
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @{
                    var dataCounter = (DateTime.Now - item.CreatedDate).Days;

                    switch (item.IdStatus) 
                    {
                        case 0: 
                            if (dataCounter <= 30)
                            {
                                <span style="height: 25px;
                                    width: 25px;
                                    background-color: green;
                                    border-radius: 50%;
                                    display: inline-block;">
                                </span>
                            }
                            else if (dataCounter <= 45)
                            {
                                <span style="height: 25px;
                                    width: 25px;
                                    background-color: yellow;
                                    border-radius: 50%;
                                    display: inline-block;">
                                </span>
                            }
                            else if (dataCounter > 45)
                            {
                                <span style="height: 25px;
                                    width: 25px;
                                    background-color: red;
                                    border-radius: 50%;
                                    display: inline-block;">
                                </span>
                            }
                            break;

                        case 1:
                            if (dataCounter <= 10)
                            {
                                <span style="height: 25px;
                                    width: 25px;
                                    background-color: green;
                                    border-radius: 50%;
                                    display: inline-block;">
                                </span>
                            }
                            else if (dataCounter <= 15)
                            {
                                <span style="height: 25px;
                                    width: 25px;
                                    background-color: yellow;
                                    border-radius: 50%;
                                    display: inline-block;">
                            </span>
                            }
                            else if (dataCounter > 15)
                            {
                                <span style="height: 25px;
                                    width: 25px;
                                    background-color: red;
                                    border-radius: 50%;
                                    display: inline-block;">
                                </span>
                            }
                            break;
                                
                        case 2:
                            if (dataCounter <= 5)
                            {
                                <span style="height: 25px;
                                        width: 25px;
                                        background-color: green;
                                        border-radius: 50%;
                                        display: inline-block;">
                                </span>
                            }
                            else if (dataCounter <= 8)
                            {
                                <span style="height: 25px;
                                        width: 25px;
                                        background-color: yellow;
                                        border-radius: 50%;
                                        display: inline-block;">
                                </span>
                            }
                            else if (dataCounter > 8)
                            {
                                <span style="height: 25px;
                                        width: 25px;
                                        background-color: red;
                                        border-radius: 50%;
                                        display: inline-block;">
                                </span>
                            }
                            break;

                        case 3:

                            if (dataCounter <= 25)
                            {
                                <span style="height: 25px;
                                        width: 25px;
                                        background-color: green;
                                        border-radius: 50%;
                                        display: inline-block;">
                                </span>
                            }
                            else if (dataCounter <= 30)
                            {
                                <span style="height: 25px;
                                        width: 25px;
                                        background-color: yellow;
                                        border-radius: 50%;
                                        display: inline-block;">
                                </span>
                            }
                            else if (dataCounter > 30)
                            {
                                <span style="height: 25px;
                                        width: 25px;
                                        background-color: red;
                                        border-radius: 50%;
                                        display: inline-block;">
                                </span>
                            }
                            break;

                        case 4:
                            <span 
                                style="height: 25px;
                                width: 25px;
                                background-color: black;
                                border-radius: 50%;
                                display: inline-block;">
                            </span>
                            break;

                    }
                }
            </td>
        <td >
            @Html.DisplayFor(modelItem => item.NumLegalProcess)
        </td>
        <th>
            @Html.DisplayFor(modelItem => dataCounter)
        </th>
        <td>
            @{
                switch (item.TxStatus)
                {
                    case "FLAG":
                        <span>Flagrante/Inquérito</span>

                        break;

                    case "DENU":
                        <span>Denúncia</span>

                        break;

                    case "DEFP":
                        <span>Defesa Prévia</span>

                        break;

                    case "AIJP":
                        <span>AIJ</span>

                        break;

                    case "SENT":
                        <span>Sentença</span>

                        break;
                }
            }
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defendant)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.NaturalidadeReu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiliacaoReu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascReu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneReu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefensoriaPublica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attorney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPenal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroREDS)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DataDoCrime)
            </td>
@*           <td>
                @Html.DisplayFor(modelItem => item.LocalDoCrime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumInqueritoPolicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStatus)
            </td>*@
            <td>
                    @{
                        if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Details" asp-route-id="@item.ProcessID">Details</a>
                        } else
                        {
                            <div>
                                <a asp-action="Edit" asp-route-id="@item.ProcessID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ProcessID">Details</a> |              
                                <a asp-action="Delete" asp-route-id="@item.ProcessID">Delete</a>
                            </div>
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
